<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="primary">
      <b-navbar-toggle target="nav_collapse" />
      <b-navbar-brand to="/">
        <img src="./assets/go.svg" height="50px">Vue.js &amp; Go
      </b-navbar-brand>
      <b-collapse id="nav_collapse" is-nav>
        <b-navbar-nav>
          <b-button to="/home" variant="dark">
            <fa icon="home" />&nbsp; Home
          </b-button>
          <b-button to="/info" variant="dark">
            <fa icon="cogs" />&nbsp; Info
          </b-button>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <br>
    <b-container>
      <transition name="slidedown">
        <router-view />
      </transition>
    </b-container>
  </div>
</template>

<style>
  html {
    font-size: 20px;
  }
  #app, html, body {
    height: 100%;
    background-color: #317256;
  }
  .b-navbar-nav {
    color: red;
  }
  .slidedown-enter-active {
    transition: transform 0.4s ease-out;
    transform-origin: top;
  }
  .slidedown-enter {
    transform: scaleY(0);
  }
</style>

<style scoped>
  .btn {
    margin-right: 0.3rem;
    width: 7rem;
  }
</style>