<template>
  <b-jumbotron bg-variant="primary" text-variant="white" border-variant="dark">
    <template slot="header">
      Cloud Nord
    </template>
    <template slot="lead" v-if="info">
      This is an awesome application demo, served from {{ info.podname }} in  {{ info.environment }} namespace</template>
    <img src="../assets/go.svg" height="200px">
  </b-jumbotron>
</template>

<script>
import apiMixin from '../mixins/apiMixin.js'
const info = null
export default {
  // Adds functions to call the API
  mixins: [ apiMixin ],
  data: function() {
    return {
      info: info,
      error: null
    }
  },
  computed: {
  },
  created() {
    this.getInfo()
  },
  methods: {
    getInfo: async function() {
      try {
        this.info = await this.apiGetInfo()
      } catch (err) {
        this.error = err
      }
    }
  }
}
</script>

<style scoped>
  .dark-box {
    background-color:rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.3rem;
  }
  .icon {
    width: 60px;
    margin-right: 10px;
  }
  .jumbotron {
    padding: 2rem;
  }
  .display-3 {
    padding: 0.1rem;
    font-size: 3rem;
    font-weight: 400;
  }
  .lead {
    font-size: 1rem;
  }
</style>