<template>
  <div class="card">
    <div class="card-header bg-success h3">
      <fa icon="cogs" />&nbsp; System Information
    </div>
    <div class="card-body">
      <div v-if="info">
        <h4>Environment Variables</h4>
        <pre>{{ info.environment }}</pre>
        <pre>{{ info.podname }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import apiMixin from '../mixins/apiMixin.js'
const info = null
export default {
  filters: {
  },
  // Adds functions to call the API
  mixins: [ apiMixin ],
  data: function() {
    return {
      info: info,
      error: null
    }
  },
  computed: {
  },
  created() {
    this.getInfo()
  },
  methods: {
    getInfo: async function() {
      try {
        this.info = await this.apiGetInfo()
      } catch (err) {
        this.error = err
      }
    }
  }
}
</script>

<style scoped>
  pre {
    background-color: #222;
    color:rgb(59, 190, 33);
    padding: 10px;
    max-height: 500px;
    font-family: 'Lucida Console', monospace
  }
</style>